* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    
    --primary-light-red-bg: hsl(0, 100%, 97%);
    --primary-orangey-yellow-bg: hsl(39, 100%, 97%);
    --primary-green-teal-bg: hsl(166, 100%, 97%);
    --primary-cobalt-blue-bg: hsl(234, 85%, 97%);

    --primary-light-red: hsl(0, 100%, 75%);
    --primary-orangey-yellow: hsl(39, 100%, 65%);
    --primary-green-teal: hsl(166, 100%, 50%);
    --primary-cobalt-blue: hsl(234, 85%, 55%);

    --gradient-light-slate-blue-bg: hsl(252, 100%, 67%);
    --gradient-light-royal-blue-bg: hsl(241, 81%, 54%);
    --gradient-viole-blue: hsla(256, 72%, 46%, 1);
    --gradient-persian-blue: hsla(241, 72%, 45%, 0);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-light-white: hsl(0, 0%, 85%);
    --neutral-gray: hsl(0, 0%, 70%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutral-light-lavender: hsl(241, 100%, 89%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

p {
    font-size: 1.8rem;
}

#result-wrapper {
    background: linear-gradient(var(--gradient-light-slate-blue-bg), var(--gradient-light-royal-blue-bg));
    color: var(--neutral-white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2.4rem;
    padding: 3.2rem 3.2rem;
    border-radius: 0 0 3.2rem 3.2rem;
}

.your-result {
    width: 15.0rem;
    height: 15.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--gradient-viole-blue), var(--gradient-persian-blue));
    padding: 4.8rem 4.8rem;
    border-radius: 50%;
}

.your-result .result {
    font-size: 4.8rem;
    font-weight: 800;
}

.your-result .max-result {
    color: var(--neutral-light-white);
    font-size: 1.6rem;
}

.your-result-text {
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    color: var(--neutral-light-white);  
}

.your-result-text h2 {
    font-size: 2.4rem;
    font-weight: 500;
}

.your-result-text p {
    font-size: 1.6rem;
    margin-top: .8rem;
    color: var(--neutral-light-white);
}

#summary-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 2.4rem 2.4rem;
}

#summary-wrapper h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--neutral-dark-gray-blue);
}

.reaction, .memory, .verbal, .visual {
    border-radius: 1.2rem;
    padding: 1.4rem 1.2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 700;
}

.reaction-heading, .memory-heading, .verbal-heading, .visual-heading {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.reaction-score, .memory-score, .verbal-score, .visual-score {
    display: flex;
    align-items: center;
    gap: .6rem;
}

#summary-wrapper .reaction {
    background-color: var(--primary-light-red-bg);
}

#summary-wrapper .memory {
    background-color: var(--primary-orangey-yellow-bg);
}

#summary-wrapper .verbal {
    background-color: var(--primary-green-teal-bg);
}

#summary-wrapper .visual {
    background-color: var(--primary-cobalt-blue-bg);
}

.reaction .reaction-heading {
    color: var(--primary-light-red);
}

.memory .memory-heading {
    color: var(--primary-orangey-yellow);
}

.verbal .verbal-heading {
    color: var(--primary-green-teal);
}

.visual .visual-heading {
    color: var(--primary-cobalt-blue);
}

.score {
    color: var(--neutral-dark-gray-blue);
}

#summary-wrapper .max-score {
    color: var(--neutral-gray);
}

.btn-continue {
    background-color: var(--neutral-dark-gray-blue);
    color: var(--neutral-white);
    padding: 1.6rem;
    border: none;
    border-radius: 3.2rem;

    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}

@media (min-width: 1440px) {
    #app {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #result-wrapper {
        width: 32.0rem;
        height: 48.0rem;
        gap: 1.8rem;
        border-radius: 3.2rem;
    }

    h1 {
        font-size: 2.4rem;
    }

    .your-result-text {
        padding: 0 .8rem;
    }

    .your-result-text h2 {
        font-size: 3.2;
        font-weight: 700;
    }

    .your-result-text p {
        margin-top: 1.8rem;
    }

    #summary-wrapper h2 {
        font-size: 2.4rem;
    }
}